.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(36, 36, 36, 0.4)), ;
    height: 70vh;

    display: flex;
    margin: 0;
    color: white;
    text-shadow: rgb(1, 1, 12, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

@media (max-width:820px) {
    .collapse{
        background-color: rgba(0, 0, 0, 0.318);
    }
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
  
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(36, 36, 36, 0.4)), ;
    height:100vh;
    background-image: url(assets/teacher.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(36, 36, 36, 0.4)), ;
    height: 70vh;



}


@media (max-width:904px) {
    header{
        height: 70vh;
    }
    
}
@media (min-width:904px) {
    .message{
        padding-left: 260px;
        padding-top: 100px;
        
    }
    .message-box{
        width: 1000px;
    }
    
}
footer{
    background-color: rgb(15, 11, 36);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 40px 0;
    flex-wrap: wrap;


}
ul .address{
     font-size: 17px;
}
footer a:hover{
    text-decoration: underline;
}
a{
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;



}
li{
       padding-top: 10px;


}
ul{
    list-style: none;

}

.media-icons{
    margin: 10px;
}
@media (min-width:904px) {
   ul h4{
    margin-left: 20px;
}
}
ul h4{
    color: burlywood;
}